h1{
	font: monospace;
}

.p1{
	background-color: yellow;
	width: 250px;
	height: 90px;
	border: 2px solid black;
	transform: skew(10deg);
	position: relative;
	left: 70px;
}

.p2{
	margin: 150px;
  width: 250px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: scaleX(2);
  position: relative;
	left: 50px;
	bottom:  70px;
}

.p3{
	
  width: 250px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: rotate(45deg);
  position: relative;
  left: 70px;
	bottom:  100px;
}
